version: '3.8'

services:
  bijuterias:
    image: virtusilva/bijuterias:latest   # ← já troquei pro seu usuário correto
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.bijuterias-http.rule=Host(`bijuterias.ofertinhas.site`)"
        - "traefik.http.routers.bijuterias-http.entrypoints=web"
        - "traefik.http.routers.bijuterias-http.middlewares=redirect-https"
        - "traefik.http.middlewares.redirect-https.redirectscheme.scheme=https"

        - "traefik.http.routers.bijuterias-https.rule=Host(`bijuterias.ofertinhas.site`)"
        - "traefik.http.routers.bijuterias-https.entrypoints=websecure"
        - "traefik.http.routers.bijuterias-https.tls=true"
        - "traefik.http.routers.bijuterias-https.tls.certresolver=letsencrypt"

        - "traefik.http.services.bijuterias.loadbalancer.server.port=80"

    networks:
      - ofertinhas   # ← rede que já existe

networks:
  ofertinhas:
    external: true